<header>
  <h1>BETA BLOG</h1>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
  </ul>
  <div>
    <h2>Contact</h2>
  </div>
</header>